[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "public"]
	path = public
	url = git@github.com:talkvegantome/talkvegantome.github.io.git
	branch = master
